<div class="container w-45 m-5 p-5">
    <div class="row justify-content-center">
        <div class="col-md-3">
<h2 class="title">Signin</h2>

<form action="/auth/signin" method="post">

<div class="row mb-3">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <input type="text" name="email" id="email" required>
</div>

<div class="row mb-3">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <input type="password" name="password" id="password" required>
</div>
 <div class="row mb-5">  
<button class="btn btn-success">Login</button>
</div>  
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
</form>
       </div>
    </div>
</div>