<div class="container w-45 p-6">
    <div class="row justify-content-center">
        <div class="col-md-3">
<h2 class="title p-5">Sign up</h2>

<form action="/auth/signup" method="post">
<div class="row mb-3">
    <label for="username" class="col-sm-2 col-form-label">Username</label>
    
    <input type="text" name="username" id="username" required>
</div>
<div class="row mb-3">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
 
    <input type="password" name="password" id="password" required>
</div>
<div class="row mb-3">
    <label for="fullName" class="col-sm-2 col-form-label w-100">Full Name</label>
  
    <input type="text" name="fullName" id="fullName" required>
</div>
<div class="row mb-3">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
  
    <input type="text" name="email" id="email" required>
</div>
<div class="row mb-3">
    <label for="city" class="col-sm-2 col-form-label">City</label>
  
    <input type="text" name="city" id="city" required>
</div>      
<div class="row mb-3">
    <label for="country" class="col-sm-2 col-form-label">Country</label>
  
    <input type="text" name="country" id="country" required>
</div>

 <div class="row mb-5 pt-3">       
<button  type="submit" class="btn btn-success">Create account</button>
</div>  
<p>Already have an account? <a href="/auth/signin">Sing in</a></p>
</form>
</div>
       </div>
    </div>
</div>