<h2>Signin</h2>

<form action="/auth/signin" method="post">

<div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" value="euge@euge.com" required>
</div>

<div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" value="euge" required>
</div>
<button>Login</button>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
</form>