<footer class="page-footer p-4">
<div class="container-footer">
    <div class="footer-row">
        <div class="footer-col">
            <h4>Freebie</h4>
            <ul>
                <li>
                    <a href="/about">About Us</a>
                </li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Account</h4>
            <ul>
                <li>
                    <a href="/auth/signup">Create an Account</a>
                </li>
            </ul>
        </div>
         <div class="footer-col">
            <h4>The Products</h4>
            <ul>
                <li>
                   <a href="/">Products</a>  
                </li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Questions?</h4>
            <ul>
                <li>
                   <a href="">FAQ</a> 
                </li>
            </ul>
        </div>
    </div>
</div>
</footer>