<div class="card" style="width: 18rem;">
  <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
  </div>
  <a href="/product/{{_id}}">Check more details!</a>
</div>
