<div class="forms p-5">
  <div class="col-4">
    <form action="/product/{{product._id}}/request" method="post">
      <label for="request" class="form-label mt-5">Request
        <b>{{this.product.name}}</b>!</label>
      <input type="text" class="form-control" id="request" name="request" />
      <button type="submit" class="btn btn-danger" id="button-form">Send a message</button>
    </form>
  </div>
</div>