
<div>
    <div class="container w-75">
        <div class="row aboutTitle">
<h3>About us</h3>
<p>We are a network of people who are giving and getting stuff for free!</p>
        </div>
        <div class="row row-cols-2">
            <div class="col p-0">
                <img src="images/waste.jpg" class="img-fluid w-100" alt="waste-pic">
            </div>
            <div class="col ps-5 pe-5 about">
                <p>Lake Estancia was a body of water in the Estancia Valley, 
                in the center of the U.S. state of New Mexico. Mostly fed by creek and groundwater
                 from the Manzano Mountains, the lake had diverse fauna, including cutthroat trout.</p>
                 </div>
            <div class="col ps-5 pe-5 about">
                <p><b>Why should you reuse?</b></p>
                <ul class="aboutUl">
                    <li>It uses less energy</li>
                    <li>Prevents pollution that comes with landfills</li>
                    <liIt encourages quality over quantity></li>
                    <li>Saves natural resources</li>
                    <li>Reduces greenhouse gas emissions</li>
                    <li>It's more responsible</li>
                    <li>It's less expensive</li>
                </ul>
            </div>
            <div class="col p-0">
                <img src="images/plant.jpg" class="img-fluid w-100" alt="plant-pic">
            </div>
            <div class="col p-0">
                <img src="" alt="">
            </div>
            <div class="col ps-5 pe-5 about">
                <p>Lake Estancia was a body of water in the Estancia Valley, 
                in the center of the U.S. state of New Mexico. Mostly fed by creek and groundwater
                 from the Manzano Mountains, the lake had diverse fauna, including cutthroat trout.</p>
            </div>
        </div>
    </div>
</div>