<div>
    <div class="container w-75">
        <div class="row aboutTitle">
            <h3>About us</h3>
            <p>We are a network of people who are giving and getting stuff for free!</p>
        </div>
        <div class="row row-cols-2">
            <div class="col p-0">
                <img src="images/waste.jpg" class="img-fluid w-100" alt="waste-pic">
            </div>
            <div class="col ps-5 pe-5 about">
                <p>The world generates 2.01 billion tonnes of municipal solid waste annually,
                    and a lot of that waste includes items that are in perfectly good conditions and that could be
                    reuse.
                    global waste is expected to grow to 3.40 billion tonnes by 2050, more than double population growth
                    over the same period. Overall, there is a positive correlation between waste generation and income
                    level.</p>
                <p>Reduce, reuse, recycle; it's not just a waste management suggestion,
                    it should be a way of life to help the environment and your wallet.</p>
            </div>
            <div class="col ps-5 pe-5 about">
                <p><b>Why should you reuse?</b></p>
                <ul class="aboutUl">
                    <li>It uses less energy</li>
                    <li>Prevents pollution that comes with landfills</li>
                    <liIt encourages quality over quantity>
                        </li>
                        <li>Saves natural resources</li>
                        <li>Reduces greenhouse gas emissions</li>
                        <li>It's more responsible</li>
                        <li>It's less expensive</li>
                </ul>
            </div>
            <div class="col p-0">
                <img src="images/plant.jpg" class="img-fluid w-100" alt="plant-pic">
            </div>
            <div class="col p-0 picsDiv">
                <img src="images/orne.jpg" class="img-fluid w-50 h-100" alt="orne-pic">
                <img src="images/euge.jpg" class="img-fluid w-50 h-100" alt="euge-pic">
            </div>
            <div class="col p-5 about">
                <p><b>Meet the Developers</b></p>
                 <div class="location pt-4">
                    <i class="fa-brands fa-linkedin"></i>
                    <p><a href="https://www.linkedin.com/in/ornella-escalada-corsi/"></a>ornella-escalada-corsi</p>
                </div>
                <div class="location line pb-1">
                    <i class="fa-brands fa-github"></i>
                    <p><a href="https://github.com/Ornella-e">Ornella-e</a> </p>
</div>
                    <div class="location pt-4">
                    <i class="fa-brands fa-linkedin"></i>
                    <p><a href="https://www.linkedin.com/in/mariaeugeniab/?locale=en_US">mariaeugeniab</a></p>
                </div>
                <div class="location">
                    <i class="fa-brands fa-github"></i>
                    <p><a href="https://github.com/EugeBr">EugeBr</a></p>
                </div>
            </div>
        </div>
    </div>
</div>