<div class="container">
<div class="row">
    <div class="col">
      <img src="images/clothes.jpg" class="img-fluid w-auto p-3" alt="clothes-img">
    </div>
    <div class="col">
      <img src="images/books.jpg" class="img-fluid w-auto p-3" alt="books-pic">
    </div>
    <div class="col">
      <img src="images/flea.jpg" class="img-fluid w-auto p-3" alt="flea-pic">
    </div>
  </div>
</div>
<div class="container home">
   <div class="row">
{{#each products}}
   {{> productCard this}} 
{{/each}}
</div>
</div>
