<div class="container m-0 p-0" id="imgHome">
<div class="row m-0">
    <div class="col p-0">
      <img src="images/clothes.jpg" class="img-fluid w-auto h-100" alt="clothes-img">
    </div>
    <div class="col p-0">
      <img src="images/books.jpg" class="img-fluid w-auto h-100" alt="books-pic">
    </div>
    <div class="col p-0">
      <img src="images/flea.jpg" class="img-fluid w-auto" alt="flea-pic">
    </div>
  </div>
  <div>
   <h3 class="quote"><em>"One man's trash is another man's treasure"</em></h3> 
  </div>
</div>
<div class="d-flex justify-content-around home">
   <div class="row m-0 w-100">
{{#each products}}
   {{> productCard this}} 
{{/each}}
</div>
</div>
