<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Questions</h1>

            <hr>

            <form action="/question/create" method="POST">
                <div class="mb-3">
                    <label for="question" class="form-label">Question</label>
                    <input type="text" class="form-control" id="question" name="question">
                </div>
                <button type="submit" class="btn btn-dark">Submit question</button>
                <a href="/product/{{_id}}/" class="btn btn-dark">Go back to product</a>
            </form>
            <hr>
        </div>
    </div>
</div>