body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

    margin: 0;

    background-image: url("");
    background-size: cover;
    background-attachment: fixed;
  
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.card img {
  width: 200px;
  height: 200px;
}

.container-footer {
  max-width: 1170px;
  margin: auto;
}

.footer-row {
  display:flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.page-footer {
  padding: 70px 0;
  background-color: #ddc8bb;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  text-align: center;
}

.footer-col h4 {
  font-size: 18px;
  color:#204c28;
  margin-bottom: 30px;
  margin-left: 30px;
}
.footer-col ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #204c28;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #204c28;
  padding-left: 8px;
}
.container-fluid{
  background-color: #ddc8bb;
}
.container-fluid ul li a{
  font-size: 16px;
  text-decoration: none;
  color: #204c28;
}
