<div class="home pt-5 pb-5">
   <h1>Miscellaneous</h1>
   <div class="container">
      <div class="row">
         {{#each miscellaneousProducts}}
         {{> productCard this}}
         {{/each}}
      </div>
   </div>
</div>