<div class="container">
  <h1>My Products</h1>
  {{#each product}}
    <div class="product-row">
      <a href="/product/{{this._id}}">{{this.name}}</a>
      <div class="action-links">
        <a href="/product/{{this._id}}/edit" class="btn btn-dark">Edit</a>
        <form action="/product/{{this._id}}/delete" method="post">
          <button type="submit" class="btn btn-warning">Delete</button>
        </form>
      </div>
    </div>
  {{/each}}
</div>